<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
		
		<form action="" method="GET">	
			<label>Usuario: </label>
			<input type="text" name="usuario" value="">
			<br>
			<br>

			<label>Contraseña: </label>
			<input type="password" name="contraseña" value="">
			<br>
			<br>
				
			<label>Recordarme: </label>
			<input type="checkbox" name="recordarme" value="">
			<br>
			<br>

			<button type="submit">Enviar</button>
		</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>