<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"><%= accion %> productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="" method="POST">		
				<label>Nombre del producto: </label>
				<input type="text" name="nombre" value="">
		
				<br>
				<br>
		
				<label>Descripción: </label>
				<input type="text" name="descripcion" value="">
				<br>
				<br>
				<label>Imagen del producto </label>
				<input type="text" name="imagen" value="">
		
				<br>
				<br>

				<label>Fecha de carga: </label>
				<input type="date" name="fecha" value="">
				<br>
				<br>

				<button type="submit">Enviar</button>
				
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>