<!DOCTYPE html>
<html lang="es">
	<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="../images/img_banner.jpeg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->
	<script src="../db/dataCarnes.js"></script>
	<!-- Todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los Productos:</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id">
						<figure class="product-box_image">
							<img src="<%= imagen %>" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripci贸n corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id">
						<figure class="product-box_image">
							<img src="../images/products/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripci贸n corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id">
						<figure class="product-box_image">
							<img src="../images/products/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripci贸n corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/productos/id">
						<figure class="product-box_image">
							<img src="../images/products/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Nombre del producto</h2>
							<p>Descripci贸n corta del producto Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque
								delectus ex</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->



	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>