<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	<% if (locals.errors) { %>
		<p class="errorMsj"> <%= locals.errors.message %> </p>
	<% } %>
	<!-- Divs y h1 -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="title">Registrate</h2>
			</div>
			<!-- Formulario -->
			
			<form action="" method="POST" class="form">
				
				<label>Email: </label>
				<input type="email" name="email">
				<br>
				<br>
		
				<label>Contraseña: </label>
				<input type="password" name="password">
		
				<br>
				<br>
		
				<label>Usuario: </label>
				<input type="text" name="usuario">
				
				<br>
				<br>

				<label>Fecha de Nacimiento: </label>
				<input type="date" name="fechaNacimiento" value="">
				
				<br>
				<br>
				
				<label>Numero de Documento: </label>
				<input type="number" name="dni">
				
				<br>
				<br>
				
				<label>Foto de Perfil: </label>
				<input type="text" name="fotoPerfil" value="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
				
				<br>
				<br>

				<button class= "button" type="submit">Enviar</button>
		
			</form>
		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>