<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users" method="GET">
				<label>Mail: </label>
				<input type="email" name="email" value="">
		
				<br>
				<br>
		
				<label>Contraseña: </label>
				<input type="password" name="contraseña" value="">
		
				<br>
				<br>
		
				<label>Usuario: </label>
				<input type="text" name="usuario" value="">
				<br>
				<br>

				<label>Fecha de Nacimiento: </label>
				<input type="date" name="fecha" value="">
				<br>
				<br>
				<label>Numero de Documento: </label>
				<input type="number" name="documento">
				<br>
				<br>
				<label>Foto de Perfil: </label>
				<input type="text" name="fotoPerfil" value="">
				<br>
				<br>

				<button type="submit">Enviar</button>
		
		
		
			</form>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>